/* Tablet & Mobile */
@media (max-width: 63.9375em) { /* 1023px */
    .btn {
        padding: 15px 16px;
    }

    .contact-info {
        line-height: 2;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer .socials {
        font-size: 48px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Mobile */
@media (max-width: 46.1875em) { /* 739px */
    .s-full-width,
    .s-col-full-with-padding{
        width: 100% !important;
        padding: 8px 16px;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: grey;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px;
    }
    
    #nav > li {
        display: block;
    }

    #header .search-button{
        display: none;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-button {
        display: block;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    #content .member-item .member-class {
        font-size: 150%;
    }

}